.DS_Store
Thumbs.db

.idea/
.vscode/

**/bin/
**/obj/
*.user
*.suo

**/node_modules/
**/.next/
**/dist/
**/build/

.env
.env.local
.env.*.local

# Kubernetes secrets
Deployment/charts/secrets/
Deployment/charts/kong/routes.yaml

# TLS certificates
Deployment/*.pem
Deployment/*-key.pem
