#MailTrap SMTP credentials
apiVersion: v1
kind: Secret
metadata:
  name: itify-mail-secret
  namespace: itify
type: Opaque
stringData:
  mail-user: <your-mailtrap-smtp-user>
  mail-password: <your-mailtrap-smtp-password>
