#pgAdmin login credentials, can be whatever you like
apiVersion: v1
kind: Secret
metadata:
  name: pgadmin-secret
  namespace: itify
type: Opaque
stringData:
  email: <your-pgadmin-email>
  password: <your-pgadmin-password>
