#Generate with: openssl rand -hex 16, for postgres dbs passwords
apiVersion: v1
kind: Secret
metadata:
  name: itify-postgres-secret
  namespace: itify
type: Opaque
stringData:
  users-password: <users-db-password>
  equipment-password: <equipment-db-password>
