#TLS certificates for itify.local built with mkcert
#install mkcert, generate local CA with mkcert --install, generate cert with mkcert itify.local
#paste output of local.pem and local-key.pem in these fields using base64 encoding, base64 -w 0 file.
apiVersion: v1
kind: Secret
metadata:
  name: itify-tls
  namespace: itify
type: kubernetes.io/tls
data:
  tls.crt: <base64-encoded-itify.local.pem>
  tls.key: <base64-encoded-itify.local-key.pem>
